@font-face {
    font-family: 'Hingashi Extended';
    src: url('HingashiExtended.woff2') format('woff2'),
        url('HingashiExtended.woff') format('woff'),
        url('HingashiExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

